<a href="https://colab.research.google.com/github/CodeWithSridhar/TSF-GRIP-Internship/blob/main/Task3_Exploratory_Data_Analysis_Retail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem Statement

**Exploratory Data Analysis - Retail** (level - beginner)

Perform 'exploratory data analysis' on dataset 'samplesuperstore'

as a business manager, try to find out the weak areas where you can work to make more profit.

what all business problems you can derive by exploring the data?

you can choose any of the tool of your choice (python/r/tableau/powerbi/excel/sap/sas)

dataset: https://bit.ly/3i4rbwl

# Solution

In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data= pd.read_csv('https://raw.githubusercontent.com/CodeWithSridhar/TSF-GRIP-Internship/main/SampleSuperstore.csv')

In [3]:
data.head()

        Ship Mode    Segment        Country  ... Quantity Discount    Profit
0    Second Class   Consumer  United States  ...        2     0.00   41.9136
1    Second Class   Consumer  United States  ...        3     0.00  219.5820
2    Second Class  Corporate  United States  ...        2     0.00    6.8714
3  Standard Class   Consumer  United States  ...        5     0.45 -383.0310
4  Standard Class   Consumer  United States  ...        2     0.20    2.5164

[5 rows x 13 columns]

In [4]:
data.shape

(9994, 13)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [6]:
data.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [7]:
data.isnull()

      Ship Mode  Segment  Country   City  ...  Sales  Quantity  Discount  Profit
0         False    False    False  False  ...  False     False     False   False
1         False    False    False  False  ...  False     False     False   False
2         False    False    False  False  ...  False     False     False   False
3         False    False    False  False  ...  False     False     False   False
4         False    False    False  False  ...  False     False     False   False
...         ...      ...      ...    ...  ...    ...       ...       ...     ...
9989      False    False    False  False  ...  False     False     False   False
9990      False    False    False  False  ...  False     False     False   False
9991      False    False    False  False  ...  False     False     False   False
9992      False    False    False  False  ...  False     False     False   False
9993      False    False    False  False  ...  False     False     False   False

[9994 rows x 13 columns]